# Environment & secrets
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Great Expectations
great_expectations/uncommitted/

# Docker volumes
postgres_data/
minio_data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
data/
